.background {
    background-image: url("https://fps.cdnpk.net/images/home/subhome-ai.webp?w=649&h=649");
    /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents repeating */
    height: 100vh; /* Full viewport height */
    width: 100%;
  }
  